// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

$dark-green: #00381f;
$default-font: 'Raleway', sans-serif;
$title-font: 'Playfair Display', serif;

body {
  font-family: $default-font;
  font-size: 18px;
}

.header {
  background: url('../images/header.png') center bottom no-repeat;
  height: 644px;
}

h2 {
  color: $dark-green;
  font-size: 45px;
  font-weight: bold;
  font-family: $title-font;
}

// Brazil meets California

.brazil-meets-california {
  padding: 100px 0;
  h2 {
    padding-bottom: 40px;
  }
}

// Proposal
.proposal {
  background: #152146 url('../images/bg-proposal.png') right center no-repeat;
  height: 570px;
  h2 {
    color: #ffffff;
    padding-top: 145px;
    padding-bottom: 40px;
  }
  p {
    color: #ffffff;
    line-height: 28px;
  }
}

// Q & A
.qa {
  background: url('../images/qa-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0;
}
.qa-box {
  background: #ffffff;
  width: 580px;
  margin: 0 auto;
  padding: 60px 40px;
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  h3 {
    color: $dark-green;
  }
  ul {
    margin: 40px 0;
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 40px;
    }
  }
}


// Registry
.registry {
  background: url('../images/registry-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

.registry-box {
  padding: 60px 40px;
  width: 580px;
  margin: 0 auto;
  background: #ffffff;
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 25px 0;
    }
    li:last-child {
      padding: 40px 0 25px 0;
    }
  }
  p {
    padding: 30px 0;
    color: $dark-green;
  }
}
